
.contact{
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  padding: 90px 0;
  background-size: 1200px 800px;
  column-gap: 30px;
  background-color: #b410eb;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column;
}
.text-contact{
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-size: 40px;
  color: aliceblue;
}
.contact-form {
  background-color: grey;
  color: rgb(244, 224, 8);
  max-width: 400px;
  width: 100%;

}

.contact-form label {
  display: block;
  margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
}

.company-location {
  color: aliceblue;
  max-width: 400px;
  width: 100%;
  text-shadow: black 4px;
}
