/* src/App.css */
.body_orderplace {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container_orderplaced {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .header_orderplace {
    text-align: center;
    color: #009688;
  }
  
  .main_orderplaced {
    margin-top: 20px;
  }
  
  .footer_orderplaced {
    margin-top: 20px;
    text-align: center;
    color: #777;
  }
  